
WebEx/IOT-SUM-2019B/en_IoTF_CT2.0_PL-App_Image/chestnut.img
WebEx/IOT-SUM-2019B/es_IoTF_CT2.0_Student_Jupyter_Notebooks/es_IoTF_CT2.0_Student_Jupyter_Notebooks/3.2.5.10 Lab - Writing Python Scripts Using a Text Editor/3.2.5.10 Lab - Writing Python Scripts Using a Text Editor.ipynb
WebEx/IOT-SUM-2019B/es_IoTF_CT2.0_Student_Jupyter_Notebooks/es_IoTF_CT2.0_Student_Jupyter_Notebooks/3.2.5.11 Lab - Blinking an LED using Raspberry Pi and PL-App/3.2.5.11 Lab - Blinking an LED using Raspberry Pi and PL-App.ipynb
WebEx/IOT-SUM-2019B/es_IoTF_CT2.0_Student_Jupyter_Notebooks/es_IoTF_CT2.0_Student_Jupyter_Notebooks/3.2.5.14 Lab - Interacting with a physical world from Cisco Spark/3.2.5.14 Lab - Interacting with a physical world from Cisco Spark.ipynb
WebEx/IOT-SUM-2019B/es_IoTF_CT2.0_Student_Jupyter_Notebooks/es_IoTF_CT2.0_Student_Jupyter_Notebooks/3.2.6.4 Lab - Interfacing Arduino code and Python code/3.2.6.4 Lab - Interfacing Arduino code and Python code.ipynb
WebEx/IOT-SUM-2019B/es_IoTF_CT2.0_Student_Jupyter_Notebooks/es_IoTF_CT2.0_Student_Jupyter_Notebooks/3.2.6.5 Lab - LED Line and Graphs Using PL-App/3.2.6.4 Lab - LED Line and Graphs Using PL-App.ipynb
WebEx/IOT-SUM-2019B/es_IoTF_CT2.0_Student_Jupyter_Notebooks/es_IoTF_CT2.0_Student_Jupyter_Notebooks/3.2.6.5 Lab - LED Line and Graphs Using PL-App/3.2.6.5 Lab - LED Line and Graphs Using PL-App.ipynb
WebEx/IOT-SUM-2019B/es_IoTF_CT2.0_Student_Jupyter_Notebooks/es_IoTF_CT2.0_Student_Jupyter_Notebooks/3.2.6.6 Lab - Control LEDs from the PL-App Dashboard/3.2.6.5 Lab - Control LEDs from the PL-App Dashboard.ipynb
WebEx/IOT-SUM-2019B/es_IoTF_CT2.0_Student_Jupyter_Notebooks/es_IoTF_CT2.0_Student_Jupyter_Notebooks/3.2.6.6 Lab - Control LEDs from the PL-App Dashboard/3.2.6.6 Lab - Control LEDs from the PL-App Dashboard.ipynb
WebEx/IOT-SUM-2019B/es_IoTF_CT2.0_Student_Jupyter_Notebooks/es_IoTF_CT2.0_Student_Jupyter_Notebooks/5.3.4.4 Lab - Power Plant Earthquake Emergency Shutdown System/5.3.4.4 Lab - Power Plant Earthquake Emergency Shutdown System.ipynb
WebEx/IOT-SUM-2019B/es_IoTF_CT2.0_Student_Jupyter_Notebooks/es_IoTF_CT2.0_Student_Jupyter_Notebooks/6.3.1.11 Lab - Record Sunrise and Sunset in Google Calendar Using IFTTT/6.3.1.11 Lab - Record Sunrise and Sunset in Google Calendar using IFTTT.ipynb
WebEx/IOT-SUM-2019B/es_IoTF_CT2.0_Student_Jupyter_Notebooks/es_IoTF_CT2.0_Student_Jupyter_Notebooks/6.3.1.11 Lab - Record Sunrise and Sunset in Google Calendar Using IFTTT/images/arduino-with-a-photoresistor.png
WebEx/IOT-SUM-2019B/es_IoTF_CT2.0_Student_Jupyter_Notebooks/es_IoTF_CT2.0_Student_Jupyter_Notebooks/6.3.1.11 Lab - Record Sunrise and Sunset in Google Calendar Using IFTTT/images/arduino-with-a-photoresistor.png
