/*tipo*/
*{
    background-color: blanchedalmond;
}
h1 {
    color: brown;
}

/*-----------------------*/

/*.clase*/
.box {
    background-color: none;
    color: aqua;
}

.bold {
    font-size: large;
}

.red {
    color: red;
}

/*-----------------------*/

/*#identificador*/
#holaMundo {
    color: rgb(49, 3, 255);
}

span#mySpan {
    color: darkorange;
}

/*-----------------------*/
div span {
    font-size: x-large;
}

/*-----------------------*/

/* selector universal (*)*/
* {
    margin: 0, 2cm;
    padding: 0%;
}

/*-----------------------*/

/*dos puntos:*/
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: deeppink;
}

a:active {
    text-decoration: none;
    color: deeppink;
}
h1#titulo {
    text-align: center;
}

/*-----------------------*/
/*#identificador*/

/*-----------------------*/