/*tipo*/
h1{
    color: brown;
}
/*-----------------------*/

/*.clase*/
.box{
    background-color: blue;
    color: aqua;
}
.bold{
    font-size: large;
}
.red{
    color: red;
}
/*-----------------------*/

/*#identificador*/
#myDiv{
    color: bisque;
}
/*-----------------------*/

