/*a[title]{
    font-weight: bold;
}
*/
*{
    margin: 0,2cm;
    padding: 0%;
}
a[title=Visitado]{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: xx-large;
}
a[id |=top] {
    background-color: brown;
    color: aqua;
}
a[title~=Indice]{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}
:lang(en){
    font-style: italic;
}