*{
    background-color: blanchedalmond;
}
h1#titulo, h4, section#mySection {
    text-align: center;
}
h1 {
    color: brown;
}
section#mySection{
    font-size: large;
}
img.gif {
    width: 320px;
    height: 240px;
    display: block;
    mar
}
table#tec {
    border: red 5px solid;
    border-collapse: collapse;
    width: 50%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}
thead {
    font-size: larger;
}
td{
    border: black 1px solid;
}
form :focus {
    border: 2px solid rgb(0, 82, 175);
}
p:first-of-type{
    font-weight: bold;
}

input#name, input#sname{
    background-color: white;
        margin: 0.2cm;
        width: 150px;
        box-sizing: border-box;
}
