.in {
    list-style-type: square;
    list-style-position: inside;
}

.out {
    list-style-type: disc;
    list-style-position: outside;
}

.image {
    list-style-image: url(
}

:lang(en) {
    font-style: italic;
}