a {
    text-decoration: none;
}
.no-style {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.vertical a {
    display: block;
    width: 120px;
    background-color: orange;
    text-align: center;
    padding: 4px;
    font
}
.vertical a:hover, .vertical a:active {
    background-color: darkgoldenrod;
}