h1 {
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
}
p#p1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    font-weight: 700;
}
p#p2 {
    font-family: lucida Handwriting, lucida Cursive, cursive;
    text-align: justify;
}
p#p3 {
    font-family: Broadway, fantasy;
    text-align: justify;
}
p#p4 {
    font-family: 'Courier New', Courier, monospace;
    text-align: justify;
}