p#p1 {
    text-align: justify;
    letter-spacing: 0.3em;

}
p#p2 {
    text-align: justify;
    word-spacing: 1cm;

}
p#p3 {
    text-align: justify;
    line-height: ;

}
p#p4 {
    text-align: justify;
}