USE [master]
GO
/****** Object:  Database [PEDIDOS]    Script Date: 7/23/2020 9:36:20 PM ******/
CREATE DATABASE [PEDIDOS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PEDIDOS', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PEDIDOS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PEDIDOS_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\PEDIDOS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PEDIDOS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PEDIDOS]
GO
/****** Object:  Table [dbo].[CATEGORIAS]    Script Date: 7/23/2020 9:36:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[CATEGORIAID] [int] NOT NULL,
	[NOMBRECAT] [char](50) NOT NULL,
 CONSTRAINT [PK_CATEGORIAS] PRIMARY KEY NONCLUSTERED 
(
	[CATEGORIAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTES]    Script Date: 7/23/2020 9:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTES](
	[CLIENTEID] [int] NOT NULL,
	[CEDULA_RUC] [char](10) NOT NULL,
	[NOMBRECIA] [char](30) NOT NULL,
	[NOMBRECONTACTO] [char](50) NOT NULL,
	[DIRECCIONCLI] [char](50) NOT NULL,
	[FAX] [char](12) NULL,
	[EMAIL] [char](50) NULL,
	[CELULAR] [char](12) NULL,
	[FIJO] [char](12) NULL,
 CONSTRAINT [PK_CLIENTES] PRIMARY KEY NONCLUSTERED 
(
	[CLIENTEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DETALLE_ORDENES]    Script Date: 7/23/2020 9:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_ORDENES](
	[ORDENID] [int] NOT NULL,
	[DETALLEID] [int] NOT NULL,
	[PRODUCTOID] [int] NOT NULL,
	[CANTIDAD] [int] NOT NULL,
 CONSTRAINT [PK_DETALLE_ORDENES] PRIMARY KEY NONCLUSTERED 
(
	[ORDENID] ASC,
	[DETALLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLEADOS]    Script Date: 7/23/2020 9:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADOS](
	[EMPLEADOID] [int] NOT NULL,
	[REPORTA_A] [int] NULL,
	[NOMBRE] [char](30) NULL,
	[APELLIDO] [char](30) NULL,
	[FECHA_NAC] [datetime] NULL,
	[EXTENSION] [int] NULL,
 CONSTRAINT [PK_EMPLEADOS] PRIMARY KEY NONCLUSTERED 
(
	[EMPLEADOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDENES]    Script Date: 7/23/2020 9:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDENES](
	[ORDENID] [int] NOT NULL,
	[CLIENTEID] [int] NOT NULL,
	[EMPLEADOID] [int] NOT NULL,
	[FECHAORDEN] [datetime] NOT NULL,
	[DESCUENTO] [int] NULL,
 CONSTRAINT [PK_ORDENES] PRIMARY KEY NONCLUSTERED 
(
	[ORDENID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PRODUCTOS]    Script Date: 7/23/2020 9:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUCTOS](
	[PRODUCTOID] [int] NOT NULL,
	[CATEGORIAID] [int] NOT NULL,
	[PROVEEDORID] [int] NOT NULL,
	[DESCRIPCION] [char](50) NULL,
	[PRECIOUNIT] [money] NOT NULL,
	[EXISTENCIA] [int] NOT NULL,
 CONSTRAINT [PK_PRODUCTOS] PRIMARY KEY NONCLUSTERED 
(
	[PRODUCTOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PROVEEDORES]    Script Date: 7/23/2020 9:36:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROVEEDORES](
	[PROVEEDORID] [int] NOT NULL,
	[NOMBREPROV] [char](50) NOT NULL,
	[CONTACTO] [char](50) NOT NULL,
	[CELUPROV] [char](12) NULL,
	[FIJOPROV] [char](12) NULL,
 CONSTRAINT [PK_PROVEEDORES] PRIMARY KEY NONCLUSTERED 
(
	[PROVEEDORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [FK_DETALLE__ORDEN_DET_ORDENES_FK]    Script Date: 7/23/2020 9:36:21 PM ******/
CREATE NONCLUSTERED INDEX [FK_DETALLE__ORDEN_DET_ORDENES_FK] ON [dbo].[DETALLE_ORDENES]
(
	[ORDENID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_DETALLE__PROD_DETA_PRODUCTO_FK]    Script Date: 7/23/2020 9:36:21 PM ******/
CREATE NONCLUSTERED INDEX [FK_DETALLE__PROD_DETA_PRODUCTO_FK] ON [dbo].[DETALLE_ORDENES]
(
	[PRODUCTOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [REPORTA_A_FK]    Script Date: 7/23/2020 9:36:21 PM ******/
CREATE NONCLUSTERED INDEX [REPORTA_A_FK] ON [dbo].[EMPLEADOS]
(
	[REPORTA_A] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_ORDENES_CLIEN_ORD_CLIENTES_FK]    Script Date: 7/23/2020 9:36:21 PM ******/
CREATE NONCLUSTERED INDEX [FK_ORDENES_CLIEN_ORD_CLIENTES_FK] ON [dbo].[ORDENES]
(
	[CLIENTEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_ORDENES_EMPLE_ORD_EMPLEADO_FK]    Script Date: 7/23/2020 9:36:21 PM ******/
CREATE NONCLUSTERED INDEX [FK_ORDENES_EMPLE_ORD_EMPLEADO_FK] ON [dbo].[ORDENES]
(
	[EMPLEADOID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_PRODUCTO_CATE_PROD_CATEGORI_FK]    Script Date: 7/23/2020 9:36:21 PM ******/
CREATE NONCLUSTERED INDEX [FK_PRODUCTO_CATE_PROD_CATEGORI_FK] ON [dbo].[PRODUCTOS]
(
	[CATEGORIAID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [FK_PRODUCTO_PROV_PROD_PROVEEDO_FK]    Script Date: 7/23/2020 9:36:21 PM ******/
CREATE NONCLUSTERED INDEX [FK_PRODUCTO_PROV_PROD_PROVEEDO_FK] ON [dbo].[PRODUCTOS]
(
	[PROVEEDORID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DETALLE_ORDENES]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE__FK_DETALL_ORDENES] FOREIGN KEY([ORDENID])
REFERENCES [dbo].[ORDENES] ([ORDENID])
GO
ALTER TABLE [dbo].[DETALLE_ORDENES] CHECK CONSTRAINT [FK_DETALLE__FK_DETALL_ORDENES]
GO
ALTER TABLE [dbo].[DETALLE_ORDENES]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE__FK_DETALL_PRODUCTO] FOREIGN KEY([PRODUCTOID])
REFERENCES [dbo].[PRODUCTOS] ([PRODUCTOID])
GO
ALTER TABLE [dbo].[DETALLE_ORDENES] CHECK CONSTRAINT [FK_DETALLE__FK_DETALL_PRODUCTO]
GO
ALTER TABLE [dbo].[EMPLEADOS]  WITH CHECK ADD  CONSTRAINT [FK_EMPLEADO_REPORTA_A_EMPLEADO] FOREIGN KEY([REPORTA_A])
REFERENCES [dbo].[EMPLEADOS] ([EMPLEADOID])
GO
ALTER TABLE [dbo].[EMPLEADOS] CHECK CONSTRAINT [FK_EMPLEADO_REPORTA_A_EMPLEADO]
GO
ALTER TABLE [dbo].[ORDENES]  WITH CHECK ADD  CONSTRAINT [FK_ORDENES_FK_ORDENE_CLIENTES] FOREIGN KEY([CLIENTEID])
REFERENCES [dbo].[CLIENTES] ([CLIENTEID])
GO
ALTER TABLE [dbo].[ORDENES] CHECK CONSTRAINT [FK_ORDENES_FK_ORDENE_CLIENTES]
GO
ALTER TABLE [dbo].[ORDENES]  WITH CHECK ADD  CONSTRAINT [FK_ORDENES_FK_ORDENE_EMPLEADO] FOREIGN KEY([EMPLEADOID])
REFERENCES [dbo].[EMPLEADOS] ([EMPLEADOID])
GO
ALTER TABLE [dbo].[ORDENES] CHECK CONSTRAINT [FK_ORDENES_FK_ORDENE_EMPLEADO]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_FK_PRODUC_CATEGORI] FOREIGN KEY([CATEGORIAID])
REFERENCES [dbo].[CATEGORIAS] ([CATEGORIAID])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTO_FK_PRODUC_CATEGORI]
GO
ALTER TABLE [dbo].[PRODUCTOS]  WITH CHECK ADD  CONSTRAINT [FK_PRODUCTO_FK_PRODUC_PROVEEDO] FOREIGN KEY([PROVEEDORID])
REFERENCES [dbo].[PROVEEDORES] ([PROVEEDORID])
GO
ALTER TABLE [dbo].[PRODUCTOS] CHECK CONSTRAINT [FK_PRODUCTO_FK_PRODUC_PROVEEDO]
GO
USE [master]
GO
