* {
    margin: 0;
}
header {
    background: black;
    padding: 1em;
    box-sizing: border-box;
    margin: 0em;
}
a#header, h4 {
    background-color: inherit;
    box-sizing: border-box;
    margin-bottom: 1px;
}
a#header {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    color: white;
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    padding: 0.3em 0.5em;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.602);
    transition: background-color 1s linear;
    transition: color 1s linear
}
a#header:hover, input:hover, button:hover, a#header:focus, input:focus, button:focus {
    background-color: #fff;
    color: black;
}
a#header:focus, input:focus, button:focus {
    box-shadow: 0 0 0 3px rgba(0,0,0,0.25);
    outline: 0;
}
h4 {
    color: gainsboro;
    font-size: x-small;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    margin-top: 4px;
}
a{
    box-sizing: border-box;
    margin-top: ;
    font-size: 24px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.609);
    text-decoration: none;
    padding: 0.3em 0.5em;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.602);
    transition: background-color 1s linear;
}
/*.clase*/
.box {
    background-color: none;
    color: aqua;
}

.bold {
    font-size: large;
}

.red {
    color: red;
}

/*-----------------------*/

/*#identificador*/
#holaMundo {
    color: rgb(49, 3, 255);
    text-align: center;
}

span#mySpan {
    color: darkorange;
}

/*-----------------------*/
div span {
    font-size: xx-large;
}

/*-----------------------*/

/* selector universal (*)*/


/*-----------------------*/

/*dos puntos:*/
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: deeppink;
}

a:active {
    text-decoration: none;
    color: deeppink;
}
/*-----------------------*/
 section {
    text-align: center;
}
section#mySection{
    font-size: large;
}
span#mundo {
    font-style: italic;
}
footer {
    position: relative;
    margin-top: 50px;
    text-align: center;
    height: 30px;
}
p#p1 {
    text-align: justify;
}
img.gif {
    width: 320px;
    height: 240px;
    border: rgb(255, 209, 3) 5px solid;
    border-collapse: collapse;
    display: block;
    margin: auto;
}
