/*body {
    color: #000000;
}
a, a:link, a:visited, a:active, a:hover {
    color: #81c0c5;
}
header {
    background-color: #f47e7d;
}
nav {
    background-color: #b5d045;
}
section#main-section {
    background-color: #1dd335;
}
section#servicios-section {
    background-color: #9cd31d;
}
footer {
    background-color: #fb8335;
}
ul#datos {
    background-color: aqua;
}

section#info {
    background-color: #ca1411;
}
.wrapper {
    background-color: #3700ff;
}
.slideshow-container {
    background-color: rgb(245, 16, 207);
}
#slideshow-pics {
    background-color: #81c0c5;
}
*/